.button {
  text-align: center;
  justify-content: center;

  svg {
    width: 16px;
    height: 16px;
  }

  &.big {
    svg {
      width: 22px;
      height: 22px;
    }  
  }

  &.active {
    font-weight: bold;
  }
}

.title {
  .button {
    display: inline-flex;
  }
}

.icon-button {
  width: 36px;
  height: 36px;
  border-radius: 50%;
  border: none;
  padding: 0;
  background-color: transparent;

  svg {
    top: 0 !important;
    width: 100%;
    height: 100%;
    padding: 6px;
  }
}