section.slide {
  overflow: hidden;
  aspect-ratio: 1280/768;
  position: relative;

  .inner {
    transform: scale(var(--factor));
    transform-origin: top left;
    width: 1280px;
    height: 768px;  
    position: absolute;
    top: 0;
  }
}