.slide {
  overflow: hidden;
  aspect-ratio: 800 / 600;

  .inner {
    background-color: gray;
    transform: scale(var(--factor));
    width: 800px;
    height: 600px;
    transform-origin: top left;
    display: flex;
  }
}