section.slide {
  overflow: hidden;
  aspect-ratio: 800 / 600;
  position: relative;

  .inner {
    transform: scale(var(--factor));
    transform-origin: top left;
    width: 800px;
    height: 600px;  
    position: absolute;
    top: 0;
  }
}